@layout 'layout.html'

@section scripts {
    
    <script type='text/javascript' src="/socket.io/socket.io.js"></script>
   
    <script type="text/javascript" src="/static/scripts/neptune/neptune.js"></script>

    <script type='text/javascript' src="/static/scripts/jquery/jquery.js"></script>

    <script type="text/javascript" src="/static/scripts/threejs/three.js"></script>

    <script type="text/javascript" src="/static/scripts/demo/demo.js"></script>
    
    <script type="text/javascript">

        //-------------------------------------------------------
        // globals
        //-------------------------------------------------------

        var client   = null // the neptune client

        var app      = null // the graphics app

        var player   = null // the player reference

        var input    = {    // player input
        
            left   : false,

            right  : false,

            up     : false,

            down   : false,

            fire   : false

        }

        //-------------------------------------------------------
        // setup: networking
        //-------------------------------------------------------

        var setup_network = function () {

            client = new neptune.Client(io.connect('/'), new neptune.NullLogger() )

            client.on('call', function(info, accept) {
            
                accept(true)
            })

            client.on('connect', function() {
                
                player = app.createPlayer(client.clientid)

                client.join('@(context.path)', function() {
                
                    client.roomstate('@(context.path)', function(state) {
                
                        for(var i = 0; i < state.clientids.length; i++) {
                        
                            if(client.clientid != state.clientids[i]) {

                                client.call(state.clientids[i], null)
                            }
                        }
                    })                
                })
            })

            client.on('channel', function(channel) {

                app.createPlayer(channel.clientid)

                channel.on('message', function(message) {

                    var player = JSON.parse(message)

                    app.updatePlayer(channel.clientid, player.x, player.y, player.z, player.angle)
                            
                    if(player.fire) {

                        app.createBullet(player.x, player.y, player.z, player.angle)
                    }
                })
            })

            //-------------------------------------------------------
            // broadcast player data
            //-------------------------------------------------------

            setInterval(function() {
            
                for(var n in client.channels) {

                    if(client.channels[n].connected) {

                        var message = JSON.stringify({

                            x        : player.x,

                            y        : player.y,

                            z        : player.z,

                            angle    : player.angle,

                            fire     : input.fire
                        })

                        client.channels[n].send(message)                 
                    }
                }
            
            }, 33)

            //-------------------------------------------------------
            // check for disconnects (rough)
            //-------------------------------------------------------

            setInterval(function() {

                if(player) {
                
                    client.roomstate('@(context.path)', function(state) {
                    
                        for(var i = 0; i < app.players.length; i++) {

                            app.players[i].active = false
                        }

                        for(var i = 0; i < state.clientids.length; i++) {

                            for(var j = 0; j < app.players.length; j++) {
                            
                                if(state.clientids[i] == app.players[j].clientid) {
                                
                                    app.players[j].active = true
                                }
                            }
                        }
                    
                        for(var i = 0; i < app.players.length; i++) {

                            if(!app.players[i].active) {

                                for(var j = 0; j < client.channels.length; j++) {
                                
                                    if(client.channels[j].clientid == app.players[i].clientid) {
                                        
                                        client.channels[j].close()

                                        client.channels.splice(i, 1)
                                    }
                                }
                                
                                app.removePlayer(app.players[i].clientid)
                            }
                        }
                    })
                }

            }, 5000)
        }

        //-------------------------------------------------------
        // setup: app
        //-------------------------------------------------------

        var setup_graphics = function() {
            
            app = new demo.App(document.getElementById('jumbotron'), $('#jumbotron').width(), 480)
            
            var render = function() {

                requestAnimationFrame( render )

                //-------------------------------------------------------
                // player update 
                //-------------------------------------------------------

                if(player) {

                    if(input.left)  { player.angle += 4 }

                    if(input.right) { player.angle -= 4 }

                    if(input.up) {

                        var x = Math.sin(player.angle * 3.14 / 180)

                        var y = Math.cos(player.angle * 3.14 / 180)

                        player.x += x

                        player.z += y
                    }
                    if(input.down) {

                        var x = Math.sin(player.angle * 3.14 / 180)

                        var y = Math.cos(player.angle * 3.14 / 180)

                        player.x -= x

                        player.z -= y
                    }

                    if(input.fire) {

                        app.createBullet(player.x, player.y, player.z, player.angle)
                    }

                    app.updatePlayer(player.clientid, player.x, player.y, player.z, player.angle)

                    app.lookAtPlayer(player.clientid)
                }

                app.update();

                app.render();
            }

            render();             
        }

        //-------------------------------------------------------
        // setup: keyboard
        //-------------------------------------------------------

        var setup_keyboard = function() {

            document.onkeydown = function(e) {

                switch(e.keyCode) {

                    case 37: input.left  = true; break;

                    case 39: input.right = true; break;

                    case 38: input.up    = true; break;

                    case 40: input.down  = true; break;

                    case 83: input.fire  = true; break;
                }
            }

            document.onkeyup = function(e) {

                switch(e.keyCode) {

                    case 37: input.left  = false; break;

                    case 39: input.right = false; break;

                    case 38: input.up    = false; break;

                    case 40: input.down  = false; break;

                    case 83: input.fire  = false; break;
                }
            }
        }

        $(document).ready(function(){ 
        
            setup_graphics()

            setup_network()

            setup_keyboard()
        })

    </script>
}

@section content {

    <div id="jumbotron" />
}