<html>

    <head>

        <script type="text/javascript" src="/static/jquery/jquery.js"></script>
        <script type="text/javascript" src="/static/threejs/three.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/static/webrtc/shim/adapter.js"></script>
        <script type="text/javascript" src="/static/webrtc/client.js"></script>
        <script type="text/javascript" src="/static/demo/demo.js"></script>
        <script type="text/javascript">

            var app        = null;

            var player     = null;

            var socket     = null;

            var logger     = null;

            var signaller  = null;

            var client     = null;

            function connect(userid) {

                client.connect(userid);
            }

            //----------------------------
            // login proc
            //----------------------------            
            function login() {

                setup_elements();

                setup_graphics();

                setup_network();

                setup_player();
            }

            //----------------------------
            // swap out after login
            //----------------------------
            function setup_elements() {

                $('#container-login').hide();

                $('#container-demo').show();
            }

            //----------------------------
            // initialize the network
            //----------------------------
            function setup_network() {

                socket    = io.connect();

                signaller = new webrtc.SocketIOSignaller(socket);

                logger    = new webrtc.NullLogger();

                client    = new webrtc.Client($('#userid').val(), signaller, logger);

                client.onServerSync = function(userids) {

                    //-------------------------------
                    // pair up incoming connections
                    //-------------------------------
                    for(var i = 0; i < userids.length; i++) {

                        if(userids[i] != client.userid) {

                            var peer = client.getPeer(userids[i])

                            if(!peer) {

                                client.connect(userids[i]);
                            }
                        }
                    }
                }

                //-------------------------------
                // on connect, create player entity
                //-------------------------------
                client.onConnect = function(peer) {
                    
                    var player = app.getPlayer(peer.userid);

                    if(!player) {

                        app.createPlayer(peer.userid);
                    }
                }

                //-------------------------------
                // on message, update state.
                //-------------------------------
                client.onMessage = function(peer, message) {

                    var update = JSON.parse(message.data);

                    if(update.type == 'updatePlayer') {
                        
                        app.updatePlayer(peer.userid, update.x, update.y, update.z, update.angle);
                    }

                    if(update.type == 'createBullet') {

                        app.createBullet(update.x, update.y, update.z, update.angle);
                    }
                }
            }

            //----------------------------
            // sets up the player
            //----------------------------
            function setup_player() {

                player = app.createPlayer(client.userid);

                update_player_data();

                setInterval(function() {

                    update_player_data();

                }, 1000);
            }

            //----------------------------
            // sets up the graphics
            //----------------------------
            function setup_graphics() {

                app = new demo.App( document.getElementById('app'), 800, 600 );
                
                var render = function() {

                    requestAnimationFrame( render );

                    app.update();

                    app.render();
                }

                render();
            }

            //----------------------------
            // updates player and broadcasts
            //----------------------------
            function update_player_data() {

                client.broadcast(JSON.stringify({
                    type     : 'updatePlayer',
                    x        : player.x,
                    y        : player.y,
                    z        : player.z,
                    angle    : player.angle
                }));

                app.updatePlayer(player.userid, player.x, player.y, player.z, player.angle);
                    
                app.lookAtPlayer(player.userid);   

                if(player.fire == 1) {

                    client.broadcast(JSON.stringify({
                        type     : 'createBullet',
                        x        : player.x,
                        y        : player.y,
                        z        : player.z,
                        angle    : player.angle
                    }));

                    app.createBullet(player.x, player.y, player.z, player.angle);
                    
                    player.fire = 0;
                }
            }


            //-----------------------------------
            // rough as guts keyboard handler.
            //-----------------------------------
            document.onkeydown = checkKey;

            function checkKey(e) {

                if(player) {

                    e = e || window.event;

                    switch(e.keyCode) {

                        case 37: 
                            
                            player.angle += 5;
                            
                            break; // left

                        case 39: 
                            
                            player.angle -= 5;
                            
                            break; // right

                        case 38: 

                            var x = Math.sin(player.angle * 3.14 / 180);

                            var y = Math.cos(player.angle * 3.14 / 180);
                            
                            player.x += x; 

                            player.z += y;                             
                            
                            break; // up

                        case 40: 

                            var x = Math.sin(player.angle * 3.14 / 180);

                            var y = Math.cos(player.angle * 3.14 / 180);
                            
                            player.x -= x; 

                            player.z -= y;                             
                            
                            break; // up

                        case 83:

                            player.fire = 1;

                            break;
                    }

                    update_player_data();
                }
            }
        </script>

    </head>

    <body>

        <h3>webrtc test app - sinclair 2013</h3>

        <div id="container-login">

            <input type="text" id="userid" />

            <input type="button" id="login" value="username" onclick="login()" />

        </div>

        <div id="container-demo" style="display:none">

            <div id="app"></div>

            <p>use arrow keys to move, (s) to shoot.</p>

        </div>

    </body>

</html>
